.mat-card-image{
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 1em;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #centralizar{
    width: 80%;
    margin:auto;
  }
  .link{
      color: white;
      background-color: grey;
      padding: 10px;
      border-radius: 20px;
  }
  .link:hover{
      color: wheat;
  }
  @media screen and (max-width: 525px) {
      
    #centralizar{
        width:100%
    }
    .mat-card-image{
        float: top;
        position: absolute;
        right: 1;
        width: 100%;
        height: calc(90% - 50px);
        border-radius: 30px;
        opacity: 15%;
    }
  }

  @media screen and (min-width: 1440px) {
    .mat-card-image{
        float: top;
        position: absolute;
        right: 0;
        border-radius: 30px;
        opacity: 15%;
    }
}

  @media screen and (max-width: 1920px) {
    .mat-card{
      width: max-content;
    }
    .mat-card-image{
      float: top;
      position: absolute;
      right: 0;
      border-radius: 30px;
      opacity: 15%;
    }
}
  
  