
  <div id= "centralizar">
<mat-list *ngIf="filme; else semregistro">
  <img mat-card-image [src]="filme.urlFoto || semFoto">
  <mat-list-item >Título: {{filme.titulo}}</mat-list-item>
  <br>
  <mat-list-item >Data de lançamento: {{filme.dtLancamento | date: 'dd/MM/yyyy'}} </mat-list-item>
  <br>
  <mat-list-item >Gênero: {{filme.genero}}</mat-list-item>
  <br>
  <mat-list-item >Descrição: {{filme.descricao}}</mat-list-item>
  <br>
  <mat-list-item >Nota: {{filme.nota}}</mat-list-item>
  <br>
  <mat-card>
    <mat-card-actions>
      <button class="margin10" color="accent" mat-raised-button>Editar</button>
      <button class="margin10" (click)="excluir()" color="warn" mat-raised-button>Excluir</button>
      <a class="link" [href]="filme.urlIMDb" target="_blank">Ir para o IMDb</a>
    </mat-card-actions>
  </mat-card>
</mat-list>

</div>


<ng-template #semregistro>
  <h1 class="full-width main-div" style="font-size: 1.6em">
    <br>
    Nenhum filme encontrado!
  </h1>
</ng-template>